default_stages: [commit, push]
repos:
  - repo: local
    hooks:
      - id: printf-log-formatter
        name: printf-log-formatter
        entry: printf-log-formatter
        language: system
        types: [ python ]
        args:
          - --log-level=debug

      - id: isort
        name: isort
        entry: isort
        language: system
        types: [python]

      - id: black
        name: black
        entry: black
        language: system
        types: [python]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: double-quote-string-fixer
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-json
      - id: check-yaml
      - id: mixed-line-ending
      - id: check-added-large-files

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
      - id: pyupgrade
        types: [ python ]
        args: [ "--py3-plus", "--py36-plus", "--py37-plus", "--py38-plus", "--py39-plus", "--py310-plus"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.267
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]

  - repo: https://github.com/python-poetry/poetry
    rev: 1.4.0
    hooks:
      - id: poetry-check

  - repo: https://github.com/python-poetry/poetry
    rev: 1.4.0
    hooks:
      - id: poetry-check

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.2.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic
          - types-redis
        files: 'limiters/.+'
