name: test

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
      - run: uv run ruff check .
      - run: uv run ruff format --check .
      - run: uv run mypy limiters

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: awalsh128/cache-apt-pkgs-action@v1
        with:
          packages: redis-tools
          version: 1.0
      - name: Run tests
        run: |
          docker compose up -d
          chmod +x ./setup-cluster.sh
          ./setup-cluster.sh
          uv run coverage run -m pytest tests
          uv run coverage xml
          uv run coverage report
